/*
Fire
 FG : #f9744b
 BG : #094044

Frost
 FG : #AEC8D2
 BG : #294654

*/


:root
{
	--bgcol:#294654;
	--fgcol:#AEC8D2;
}

*
{
	margin:0;padding:0;
	font-family: monospace;
	box-sizing:border-box;
}

a
{
	text-decoration:none;
}

body
{
	background-color:var(--bgcol);
}


header
{
	background-color:var(--fgcol); /*#B0C8CA;*/
	display:flex;
	flex-direction:row;
	justify-content: space-between;
	align-items: center;
	height:90px;
	border-color: #002529;
	border-width: 50px;

}

div.logo
{
	background-color:var(--fgcol); /*#B0C8CA;*/
	display:flex;
	align-items: center;
	flex-direction:row;
	height:90px;
	border-color: #002529;
	border-width: 50px;
}

img.headerc
{
	height: 50px;
	width: 50px;
	margin-left:50px;
	color:var(--bgcol)	;
	/*margin-top:16px;*/
}

span.headerc
{
	color:var(--bgcol);
	font-weight:bold;
	font-family: sans-serif;
	font-size:48px;
	text-align:center;
	margin-left:50px;

}

span#header1
{
	color:var(--bgcol);
	font-weight:bold;
	font-family: monospace;
	font-size:36px;
	text-align:center;
	margin-left: 20px;
}

span#leaderb
{
	color:var(--bgcol); 
	font-family: monospace;
	font-size:28px;
	margin-right: 50px;
}


h1.title
{
	display:block;
	color:var(--fgcol);
	font-weight:bold;
	font-family: monospace;
	font-size:48px;
	padding:20px;
	margin:40px 20px 50px 20px;
	text-align:center;
}
div.main
{
	margin:20px	;
	display:flex;
	/*flex-direction: column;*/
	align-items: center;
	justify-content:center;
}
div.metadata
{
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	padding:30px;
}

div.time
{
	display:flex;
	flex-direction: row;
	justify-content: center;
	padding:30px;
}

@keyframes firetext
{
	from{color :var(--fgcol);}
	to{color: #F9B14B;}
}

button.butt
{
	border-radius: 5px;
	border-color: var(--fgcol);
	background-color: var(--bgcol);
	color: var(--fgcol);
	padding:20px;
	margin:30px;
	font-size:25px;
}

button.butt:disabled
{
	background-color: #083539;
}


span.count
{
	font-size:20px;
	padding:30px;
	color:#e1d9cf;	
}

span#timesec
{
	font-size:40px;
	padding:30px;
	color:#e1d9cf;	
}
.end
{
	font-size:14px;
	color:#e1d9cf;
	text-align: center;	
}

/*div.logoim
{
	position: absolute;
	width: 252px;
	height: 248.57px;
	background: var(--fgcol);
	border: 1px solid #000000;

}*/